{{define "content"}}
<h1>Delete Book</h1>

<form action="/books/{{.Data.ID.Hex}}/delete" method="POST">
<h3 style="text-align:center">{{.Data.Isbn}}<br/>{{.Data.Title}}<br/>{{.Data.Author}}<br/>{{.Data.Price}}</h3>
<br/>
<h4 style="text-align:center">Are you sure you want to delete this Book? <button type="submit">Yes</button> <button onclick="javascript:window.history.back();">No</button></h4>

</form>
{{end}}