{{define "content"}}

<h1>Edit Book</h1>
<form action="/books/{{hexstr .Data.ID}}" method="POST">

{{template "errors" .}}
{{template "form" .}}

<button type="submit">Save</button>
<a href="/books/{{hexstr .Data.ID}}">Back</a>
</form>

{{end}}