{{define "content"}}

<h1>Edit Book</h1>
<form action="/books/{{.Data.ID.Hex}}" method="POST">

{{template "errors" .}}
{{template "form" .}}

<button type="submit">Save</button>
<a href="/books/{{.Data.ID.Hex}}">Back</a>
</form>

{{end}}