{{define "errors"}}

{{if .Errors}}
  <h4>Errors</h4>
  {{range $key, $value := .Errors}}
    {{if gt ($value | len) 0}}
    <strong>{{ $key }}</strong>
    <ul>
      {{range $a, $b := $value }}
      <li>{{$b}}</li>
      {{end}}
    </ul>
    {{end}}
  {{end}}
{{end}}

{{end}}