{{define "form"}}

<p>
Isbn:<br/><input name="Isbn" type="text" value="{{.One.Isbn}}" />
</p>

<p>
Title:<br/><input name="Title" type="text" value="{{.One.Title}}" />
</p>

<p>
Author:<br/><input name="Author" type="text" value="{{.One.Author}}" />
</p>

<p>
Price:<br/><input name="Price" type="text" value="{{.One.Price}}" />
</p>

{{end}}