{{define "content"}}
<h1>Books</h1>
<p><a href="/books/new">Register new book</a></p>
{{range .Data}}
<p><a href="/books/{{.ID.Hex}}">{{.Isbn}}</a> - {{.Title}} - {{.Author}} - {{.Price}} - <a href="/books/{{.ID.Hex}}/delete">delete?</a></p>
{{end}}
{{end}}