{{define "content"}}
<h1>Books</h1>
<p><a href="/books/new">Register new book</a></p>
{{range .Data}}
<p><a href="/books/{{hexstr .ID}}">{{.Isbn}}</a> - {{.Title}} - {{.Author}} - {{.Price}} </p>
{{end}}
{{end}}