{{define "content"}}

<h1>New Book</h1>
<form action="/books" method="POST">

{{if .Errors}}
  {{.Errors}}
{{end}}

{{template "form" .}}

<button type="submit">Save</button>
<a href="/books">Back</a>
</form>

{{end}}