{{define "content"}}
<h1>Books</h1>

<p>
Isbn: {{.Isbn}}
</p>

<p>
Title: {{.Title}}
</p>

<p>
Author: {{.Author}}
</p>

<p>
Price: {{.Price}}
</p>

<a href="/books/{{hexstr .ID}}/edit">Edit</a>
<a href="/books">Back</a>
{{end}}