{{define "content"}}
<h1>Books</h1>

<p>
Isbn: {{.Data.Isbn}}
</p>

<p>
Title: {{.Data.Title}}
</p>

<p>
Author: {{.Data.Author}}
</p>

<p>
Price: {{.Data.Price}}
</p>

<a href="/books/{{hexstr .Data.ID}}/edit">Edit</a>
<a href="/books">Back</a>
{{end}}