{{define "master"}}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <link rel="stylesheet" href="/public/main.css">
  <link rel="stylesheet" href="/public/normalize.css">
</head>
<body>
  {{template "header"}}
  {{template "content" .}}
  {{template "footer"}}
</body>
{{end}}