{{define "content"}}
<h1>Login</h1>

<form action="/login" method="POST">

<h4>Username</h4>
<p><input name="username" type="text"/></p>

<h4>Password</h4>
<p><input name="password" type="password"/></p>

<button type="submit">Login</button>

</form>
{{end}}